@keyframes ldio-3bbec23i42 {
  0% {transform: rotate(0deg)}
  55% {transform: rotate(270deg)}
  100% {transform: rotate(360deg)}
}
.ldio-3bbec23i42 div {
  position: absolute;
  animation: ldio-3bbec23i42 1s linear infinite;
  width: 98.39999999999999px;
  height: 98.39999999999999px;
  top: 32.8px;
  left: 32.8px;
  border-radius: 50%;
  box-shadow: 0 2.7880000000000003px 2px 1px #d8dc00;
  transform-origin: 49.199999999999996px 50.594px;
}
.loadingio-spinner-eclipse-05cc0rvepti9 {
  width: 164px;
  height: 164px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-3bbec23i42 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateX(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-3bbec23i42 div {box-sizing: content-box;}

.loader{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .title{
    font-size: 25px;
    font-weight: 900;
    color: #D8DC00;
    margin-bottom: 20px;
  }
}
