.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  .title {
    margin-top: 20px;
    font-size: 50px;
    color: #d8dc00;
    font-weight: 900;
  }
  .subtitle {
    margin-top: 20px;
    font-size: 20px;
  }
}
