.item {
  width: 1200px;
  padding: 32px;
  background: #171717;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  min-height: 300px;
}
